@font-face {
  font-family: "LoewNextMedium";
  src: url("./assets/font/LoewNextArabic-Medium.woff2") format("woff2"), url("./assets/font/LoewNextArabic-Medium.woff") format("woff") url("./assets/font/LoewNextArabic-Medium.otf") format("otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "LoewNextBold";
  src: url("./assets/font/LoewNextArabic-Bold.woff2") format("woff2"), url("./assets/font/LoewNextArabic-Bold.woff") format("woff"), url("./assets/font/LoewNextArabic-Bold.otf") format("otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "LoewNextExtraBold";
  src: url("./assets/font/LoewNextArabic-ExtraBold.woff2") format("woff2"), url("./assets/font/LoewNextArabic-ExtraBold.woff") format("woff"), url("./assets/font/LoewNextArabic-ExtraBold.otf") format("otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 16px;
}

* {
  font-family: "LoewNextMedium";
  direction: rtl;
}

a {
  text-decoration: none !important;
}

.blue-btn {
  background-color: #131f8a;
  text-align: center;
  padding: 0.725rem;
  border-radius: 24px;
  color: white;
  border: none;
  outline: none;
}

.common-heading {
  font-size: 2.625rem;
  color: #131f8a;
  font-weight: 600;
  letter-spacing: 1.26px;
}

.common-paragraph {
  font-size: 1.125rem;
  letter-spacing: 0.13px;
  line-height: 1.875rem;
}

.flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.list-group {
  padding-right: 0;
}
.list-group li {
  background-color: transparent;
  border: none;
  padding: 0;
}

.main-sadan .hero {
  position: relative;
  height: 80vh;
  background-image: url("./assets/images/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.main-sadan header {
  padding: 2.5rem 0;
  position: relative;
}
.main-sadan header .brand-logo img {
  height: 3.75rem;
  width: 9.75rem;
}
.main-sadan header button {
  width: 9.063rem;
}
.main-sadan .scroll-down {
  position: absolute;
  bottom: 2.5rem;
  right: 9.625rem;
}
.main-sadan .scroll-down a {
  color: #131f8a;
  font-weight: 600;
}
.main-sadan .scroll-down a img {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.3rem;
}

.about-sadan {
  padding: 7.375rem 0 3.5rem;
}
.about-sadan h2 {
  margin-bottom: 3rem;
  line-height: 1rem;
}
.about-sadan p {
  width: 31rem;
}
.about-sadan .about--sadan-photo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: 33.125rem;
}
.about-sadan .about--sadan-photo img {
  width: 47%;
  height: 12.5rem;
}
.about-sadan .about--sadan-photo img.full {
  width: 100%;
}

.message-sadan {
  padding: 4.063rem 1rem;
  background-color: rgba(197, 217, 228, 0.24);
}
.message-sadan .content .message--sadan-img {
  margin-bottom: 2.813rem;
}
.message-sadan .content h2 {
  margin-bottom: 2rem;
}
.message-sadan .content p {
  max-width: 37rem;
  text-align: center;
}

.vision-sadan {
  padding: 2.75rem 0 1.813rem;
}
.vision-sadan .vision--sadan-img img {
  width: 33rem;
  height: 31.75rem;
}
.vision-sadan .info {
  padding-right: 3.5rem;
}
.vision-sadan .info h2 {
  margin-bottom: 2rem;
}
.vision-sadan .info p {
  max-width: 31rem;
}

.contact-sadan {
  padding: 3.938rem 1rem 3.125rem;
  background-color: rgba(197, 217, 228, 0.23);
}
.contact-sadan .content .contact-icon {
  margin-bottom: 1.5rem;
}
.contact-sadan .content .contact-icon img {
  width: 5.875rem;
  height: auto;
}
.contact-sadan .content h2 {
  margin-bottom: 2rem;
}
.contact-sadan form {
  max-width: 37.5rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.contact-sadan form input,
.contact-sadan form textarea {
  width: 48%;
  padding: 0 1rem;
  border-radius: 16px;
  outline: none;
  border: none;
  resize: none;
}
.contact-sadan form input::-moz-placeholder, .contact-sadan form textarea::-moz-placeholder {
  color: black;
}
.contact-sadan form input::placeholder,
.contact-sadan form textarea::placeholder {
  color: black;
}
.contact-sadan form input {
  height: 3rem;
}
.contact-sadan form .message-box {
  padding: 1rem;
  width: 100%;
  margin-bottom: 0.5rem;
}
.contact-sadan form .send-btn button {
  width: 10.625rem;
}

footer .upper {
  padding: 3.8rem 0;
  background-image: url("./assets/images/footer-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
footer .upper .upper-logos {
  position: relative;
}
footer .upper .upper-logos img {
  margin-bottom: 1rem;
  display: block;
}
footer .upper .upper-info {
  padding-left: 0.325rem;
}
footer .upper .upper-info .list-group .list-group-item {
  margin-bottom: 1rem;
}
footer .upper .upper-info .list-group-item,
footer .upper .upper-info .inf p,
footer .upper .upper-info .inf a {
  font-size: 0.875rem;
  font-weight: 600;
  color: #000;
}
footer .upper .upper-info .inf {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}
footer .upper .upper-info .inf img {
  margin-left: 0.9375rem;
}
footer .under {
  background-color: #131f8a;
  color: white;
  padding: 1.11rem 0;
}
footer .under .right-links a {
  color: white !important;
}
footer .under .right-links a:first-of-type {
  margin-left: 2rem;
}
footer .under .left-sen,
footer .under .right-links a {
  font-size: 0.8125rem;
}

@media (max-width: 992px) {
  .blue-btn {
    font-size: 0.875rem;
    padding: 0.5rem;
  }
  .common-heading,
  .common-paragraph {
    text-align: center;
  }
  .common-heading {
    font-size: 1.5rem;
  }
  .common-paragraph {
    font-size: 0.875rem;
  }
  .hero::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6509803922);
    position: absolute;
    left: 0;
    top: 0;
  }
  .main-sadan header {
    padding: 1rem 0;
  }
  .main-sadan header .brand-logo img {
    width: 7rem;
  }
  .main-sadan header button {
    width: 7.063rem;
  }
  .main-sadan .scroll-down {
    right: 25%;
    transform: translateX(-50%);
  }
  .about-sadan {
    padding: 3.5rem 0.5rem;
  }
  .about-sadan h2 {
    margin-bottom: 2rem;
  }
  .about-sadan p {
    margin-bottom: 1.5rem;
    width: auto;
  }
  .about-sadan .about--sadan-photo {
    width: 100%;
    gap: 1rem;
  }
  .about-sadan .about--sadan-photo img {
    width: 48.3%;
  }
  .about-sadan .about--sadan-photo img.full {
    width: 100%;
  }
  .message-sadan {
    padding: 2rem 1rem;
  }
  .vision-sadan .vision--sadan-img {
    margin-bottom: 2rem;
  }
  .vision-sadan .vision--sadan-img img {
    width: 100% !important;
  }
  .vision-sadan .info {
    padding-right: 0;
  }
  .vision-sadan .info p {
    max-width: 100%;
  }
  .contact-sadan form input {
    width: 100%;
  }
  footer .upper {
    padding: 3rem 0;
  }
  footer .upper::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
  }
  footer .upper .flex-between {
    flex-direction: column;
  }
  footer .upper .flex-between .upper-logos {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  footer .upper .list-group .list-group-item:first-of-type {
    text-align: center;
  }
  footer .under .flex-between {
    justify-content: center;
  }
  footer .under .flex-between .right-links {
    margin-bottom: 0.5rem;
  }
}
@media (min-width: 992px) and (max-width: 1150px) {
  .about-sadan .about--sadan-photo {
    width: 28rem;
    margin-right: 2.5rem;
  }
  .vision-sadan .vision--sadan-img img {
    width: 100% !important;
  }
}/*# sourceMappingURL=style.css.map */